// footer
.footer{
    background-color: #e2e2e2;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    .gallary ,.info,.contact{
        float: $float-left;
    }
    .gallary{
        width: 50%;
        @media #{$minSmall}{
            width: 100%;
        }
        @media #{$minMedium}{
            width: 50%;
        }
        .img-box{
            overflow: hidden;
            margin-bottom: 20px;
            img{
                @media #{$minSmall}{
                    float: $float-left;
                }
                float: $float-left;
                width: 150px;
                height: 150px;

            }
            .text{
                @media #{$minSmall}{
                    float: $float-left;
                    width: calc(100% - 180px);
                    margin-left: 15px;
                    margin-right: 15px;
                }
                h4{
                    color: $redColor;
                    margin: 20px 0 0 ;
                }
                p{
                    color: #888;
                    margin-top: 8px;
                    line-height: 1.9;
                }

            }

        }
    }
    .info{
        width: 25%;
        @media #{$minSmall}{
            width: 100%;
        }
        @media #{$minMedium}{
            width: 50%;
        }
        ul{
            color:#888;
            line-height: 1.8;
            li{
                span{
                    color: $redColor;
                }
            }
        }
        h4{
            color:#888;
            font-weight: bold;
            margin-bottom: 0px;
        }
        p{
            color:#888;
            margin-bottom: 5px;
        }
    }
    .contact{
        width: 25%;
        @media #{$minSmall}{
            width: 100%;
        }
        @media #{$minMedium}{
            width: 50%;
        }
        input[type="text"],
        input[type="email"],
        textarea{
            border: 1px solid #c9c9c9 ;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            width: 100%;
        }
        textarea{
            height: 120px;
        }
    }
    .section-title{
        color: #444;
        font-weight: normal;
    }
    .copyright{
        padding: 25px 0;
        border: 1px solid #c5c5c5;
        overflow: hidden;
        margin-top: 30px;
        .text,
        .author{
            float: $float-left;
            width: 50%;

        }
        .author{
            text-align: $text-right;
        }
    }
}