.header{
    padding: 20px 0;
    border-bottom: 1px solid $greyColor;
    overflow: hidden;
    .logo{
        position: relative;
        @media #{$minSmall}{
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$minMedium}{
            width: 30%;
            float: $float-left;
            text-align: $text-left;
    
        }
        h1{
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    .navbar{
        overflow: hidden;
        background-color: $redColor;
        border-radius: 15px;
        @media #{$minSmall}{
            width: 100%;
            float: none;
            margin-top: 30px;
            display: block !important;
        }
        @media #{$minMedium}{
            width: 70%;
            float: $float-left;
            margin-top: 1em;
        }
        @media #{$maxMobile}{
            display:none;
            border-radius: 0;
        }
        li{
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;
            @media #{$maxMobile}{
                display:block;
                float: none;
                width: 100%;
                text-align: $text-left;
                padding-left: 10px;
                padding-right: 10px;
            }
            a{
                color: #fff;
                display: block;
                padding: 20px 10px;
                text-decoration: none;
                &:hover{
                    color: #DDD;
                }
            }
        }
    }
}
