// start slider
.slider{
    text-align: center;
    blockquote{
        font : {
            size:20px;
            family:Tahoma , Arial ;
            style:italic;
            weight:bold;
        }
        line-height: 1.7;
        text-align: center;
        color: #5e5e5e;
        width: 80%;
        margin: 30px auto;
    }
    img{
        max-width: 100%;
    }
    .bullets{
        li{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $greyColor;
            border-radius: 50%;
            border:3px solid $greyColor;
            cursor: pointer;
            &.active,
            &:hover{
                border:3px solid #333;
                background-color: white;

            }

        }
    }
}
// end slider
// start services
.services{
    .service-box{
        @media #{$minMedium}{
            float: $float-left;
            width: (100% / 3);
            &:not(:last-of-type){
                padding-right: 20px;
            }
        }
        @media #{$maxMobile}{
            i{
                display: block;
                margin-bottom: 15px;
            }
        }
        .services-title{
            color: #666;
            i{
                font-size: 35px;
                position: relative;
                top:4px;
            }
        }
        .services-desc{
            color: #777;
            line-height: 1.65;

        }
        .services-link{
            color: $redColor;
            text-decoration: none;  
        }
    }
}
// end services
// start ourPlayers
.our-players{
    .player-box{
        @media #{$minSmall}{
            float: $float-left;
            width: (100%/2);
            text-align: center;
            margin-bottom: 40px;
        }
        @media #{$minMedium}{
            width: (100%/3);
            text-align: $text-left;
            padding-left: 20px;
            padding-right: 20px;  
        }
        @media #{$minLarge}{
            width: (100%/5);
        }
        @media #{$maxMobile}{
            margin-bottom: 40px;
        }
        .player-img{
            max-width: 100%;
        }
        .player-title{
            color: #666;
            font-weight: normal;
            span{
                font-weight: bold;
            }
        }
        .player-desc{
            color: #777;
            line-height: 1.65;

        }
        .player-link{
            color: $redColor;
            text-decoration: none;  
        }
    }
}
// end ourPlayers
//  start lorem-ipsum
.lorem-ipsum{
    .lorem-box{
        float: $float-left;
        width: (94%/3);
        &:not(:last-of-type){
            margin-right: 3%;
        }
        .lorem-img{
            max-width: 100%;
        }
    }
}
//  end lorem-ipsum